*{
  margin: 0;
}
.app{
  height: 100vh;
}
.app_headerImage{
  background-color: white;
  object-fit: contain;
  width: 20%;
}
.app_header{
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
}
.app_signup{
  display: flex;
  align-items: cmenter;
  flex-direction: column;
}
.app_header{
  display: flex;
  justify-content: space-between;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.project_name{
  font-size: 60px;
  font-family: 'Lobster', cursive;
}